<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you  have been successfully verified</p>
  <hr>
  <p class="mb-0">Your verification will last as long as your document is valid</p>
  <p class="mb-0">You may proceed to pick up and pay for the car!</p>
</div>